table{
  width: 400 !important ;
  /* table-layout: fixed; */
}

table td,
table th{
  overflow:hidden
}

.bg-background{
  /*background-color: rgb(0, 0, 0);*/
  /*background: linear-gradient(rgba(34,28,22,0.5),rgba(0,0,0,0.5)),url(./img/1.jpg);*/
}

/*background: -webkit-linear-gradient(left, #0F2027, #2C5364);*/
#main-body{	
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/6.jpg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;

}